body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  border: none;
  outline: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.container {
  display: block;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.text-bold {
  font-weight: bold;
}

.main-nav {
  margin-right: -12px;
  outline: none;
}

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
}

#menu__toggle {
  opacity: 0;
  outline: none;
  display: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #dedddd;
  border: none;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  border: none;
  outline: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: 3px;
  top: 3px;
  width: 40px;
  height: 30px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  top: 10px;
  right: 0px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__btn > span::before {
  content: "";
  width: 35px;
  top: 9px;
}

.menu__btn > span::after {
  content: "";
  width: 35px;
  top: -9px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 5% 80px 0;
  list-style: none;
  z-index: 99;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 18px 24px;
  color: #ffffff;
  font-family: "MyriadPro-Regular", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  outline: none;
}

.menu__item:hover {
  color: #deeaf5;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
}

@media (min-width: 1200px) {
  .menu__box {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    visibility: visible;
    padding: 0;
  }
  .main-nav {
    height: 100%;
    margin: 0;
  }
  .menu__btn {
    display: none;
  }
  .hamburger-menu {
    padding: 3px 0 7px 0;
  }
  .menu__item {
    position: relative;
  }
  .menu__item::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
  }
}

@media (max-width: 1199px) {
  .header-logo_2 {
    display: none;
  }
  .header-listing {
    display: none;
  }
  .hamburger-menu {
    padding: 8px 10px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
  }
  .menu__box {
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
  }
}

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal__form-wrapp {
  width: 100%;
  height: 100%;
}

.modal__form {
  position: relative;
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-width: 830px;
  max-height: 905px;
  margin: 0 auto;
  z-index: 5;
  padding: 50px 70px;
  overflow-x: scroll;
  background: rgba(8, 81, 113, 0.53);
}

.modal-title {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #0a445e;
  text-align: center;
  padding: 0px 0 65px 0;
}

.modal-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-tel__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-tel__text {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding-right: 35px;
}

.modal-tel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 194px;
  height: 42px;
  background: #0f7c85;
  border-radius: 15px;
}

.modal-tel__link {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.modal-tel__img {
  margin-right: 10px;
}

.modal-subtitle {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  padding: 25px 0 0 0;
  color: #000000;
}

.modal-label__title {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: left;
  padding: 15px 0 20px 0;
  color: #000000;
}

.modal-input {
  width: 100%;
  height: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
}

.checkbox__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.checkbox__text {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  padding: 0 0 0 11px;
  color: #000000;
}

#modal-textarea {
  width: 100%;
}

.modal-textarea {
  width: 100%;
}

.modal-posttext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  padding-top: 30px;
  color: #0461b2;
}

.modal-hidden {
  position: absolute;
  top: -100px;
  right: -50px;
  font-size: 40px;
  color: #ffffff;
}

.modal-checkbox {
  background: #ffffff;
  border-radius: 5px;
}

.modal-btn-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.page-productcopy .modal {
  display: block;
}

@media (max-width: 991px) {
  .modal-tel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-tel-owner {
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .modal-inner {
    padding: 20px 30px;
  }
  .modal-title {
    padding: 60px 0 30px 0;
  }
  .modal-hidden {
    position: absolute;
    top: -80px;
    right: -20px;
    font-size: 40px;
    color: #ffffff;
  }
}

@media (max-width: 479px) {
  .modal-tel__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-tel__text {
    padding-bottom: 20px;
  }
  .checkbox {
    padding-right: 10px;
  }
  .modal-hidden {
    position: absolute;
    top: -70px;
    right: -10px;
    font-size: 40px;
    color: #ffffff;
  }
}

@media (max-width: 379px) {
  .modal-inner {
    padding: 10px 15px;
  }
  .checkbox__text {
    padding-left: 5px;
  }
  .checkbox__wrapp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
