main {

}

h1 {

}

h2 {

}

h3 {

}

img {
  object-fit: cover;
}
input {
  border: none;
  outline: none;
  transition: all 0.8s;
}
.main input:hover,
.main input:focus,
.main input:active {

}

.container {
  display: block;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}


.text-bold {
  font-weight: bold;
}


@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1686px) {
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}

@media (max-width: 479px) {
}
